<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
/* RESET CSS */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
a{text-decoration: none; color: white;}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym {border:0;}
textarea:focus, input:focus{outline: 0;}
/* /RESET CSS */


html{
min-width: 100%;
min-height: 100%;
background: #5fa29f; /* Old browsers */
background: -moz-linear-gradient(top,  #5fa29f 0%, #76cbc8 50%, #5fa29f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #5fa29f 0%,#76cbc8 50%,#5fa29f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #5fa29f 0%,#76cbc8 50%,#5fa29f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fa29f', endColorstr='#5fa29f',GradientType=0 ); /* IE6-9 */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77ccc9', endColorstr='#6caac9',GradientType=0 ); /* IE6-9 */
background-repeat: no-repeat;
overflow-y: scroll;
color: white;
font-family: "Cambria", Times, serif;
font-size: 18px;
	
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: auto;
}

header {
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
	overflow: hidden;
	padding: 1% 0;
}

#logo{
	width: 23%; 
	margin: auto; 
	position:relative;
	top: 0;
  	left: 35%;
  	transform: translate(-50%, 0);
}

#left{
	max-width: 21%;
	position: absolute;
	bottom: 35%;
	left: 1%;
}

#sign-interior{
	position: absolute;
	width: 52%;
	top: 15%;
	left: 18%;
}

.sign-icon {
	display: inline-block;
	font-size: 70%;
	font-weight: bold;
	background: #ffffff;
	border: 1.5px solid #905e45;
	border-radius: 5px;
	color: #905e45;
	padding: 2%;
	margin: 2% 0;
}

.sign-title {
	margin: 2% 0;
	color: #905e45;
	font-weight: bold;
}

#middle{
	width: 56%;
	overflow:hidden;
	position: fixed;
  	top: 38%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#right{
	max-width: 24%;
	position: absolute;
	bottom: 5%;
	right: 0;
}

#cart-icon {
	width: 10%;
	position: absolute;
	top: 1%;
	left: 73%;
}

footer{
	position: fixed;
	bottom: 0; left:0;
	width: 100%;
}

#buyitem, #cart{
	overflow: hidden;
	position: fixed;
	width: 100%;
	height:100%;
	top: 0;
  	left: 0;
	z-index:3;
	background:rgba(0,0,0,0.5);
}

#giftbubble-container, #cartbubble-container {
	width: 76.5%;
	margin: auto;
	overflow:hidden;
}

.giftbubble, #cartbubble {
	width:70%;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#cartbubble-top{
	text-align: right;
}

#cartbubble-middle ul li{
	width: 20%;
	float: left;
}

.giftbubble-left{
	width:50%;
	float:left
	
}

.giftbubble-right{
	padding-right: 8%;
}

#gift-name, #gift-price {
	float:left;
	font-weight: bold;
	font-size: 200%;
	color: black;	
}

#gift-name-cart{
	text-align:center;
	font-weight: bold;
	font-size: 200%;
	color: black;	
}

#gift-store, #gift-desc{
	color: black;
}



#login-box{
 	text-align: center;
	
}

#login-box table {
	width: 40%;
	display: table;
  	height: 50%; 
 	text-align: center;
 	margin: auto;
}


.login-box-button {
	margin: 2% auto;
	padding: 3% 0;
	width: 60%;
	border: 1px solid #c0c0c0;
    border-radius: 10px;
}

#register-button {
	text-align: center;
	font-size: 80%;
}

.login-box-text {
	width: 80%;
	margin: 2% auto;
	padding: 2% 2%;
	border: 1px solid #c0c0c0;
    border-radius: 10px;
}

.msg {
	text-align: center;
	color: #ff0000;
	padding: 2%;
}


#giftlist-grid { 
	overflow: auto;
	margin: auto;

}

.giftblock {
	float:left;
	min-width: 64px;
	width: 22.7%;
	margin:0 0 2% 2%;
}



.giftblock-header, .giftblock-footer {

}

.giftblock-footer {

}

.gift-img {

}

.gift-desc{

}


.gift-store {

}



.buy {
	margin-top: 10%;
	float: right;
}

.cancel {
	width: 5%;
}


.giftstatus-true{

}

.giftstatus-false{

}




