<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
/* RESET CSS */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
a{text-decoration: none; color: white;}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym {border:0;}
textarea:focus, input:focus{outline: 0;}
/* /RESET CSS */


html{
min-width: 100%;
min-height: 100%;
background: #77ccc9; /* Old browsers */
background: -moz-linear-gradient(top,  #77ccc9 0%, #6caac9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#77ccc9), color-stop(100%,#6caac9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #77ccc9 0%,#6caac9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #77ccc9 0%,#6caac9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #77ccc9 0%,#6caac9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #77ccc9 0%,#6caac9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77ccc9', endColorstr='#6caac9',GradientType=0 ); /* IE6-9 */
background-repeat: no-repeat;
overflow-y: scroll;
color: white;
font-family: "Cambria", Times, serif;
font-size: 18px;
	
}

body {
width: 100%;
height: 100%;
	margin: 0;
	overflow: auto;
	
	
}

#wrapper {
	width: 100%;
	overflow: auto;

}

#body {
	width: 100%;
	overflow: hidden;

}

#content {
	width: 90%;
	margin: auto; 
	overflow: hidden; 
}


#navbar{
	width: 17%;
	z-index: 0; 
	position: relative;
  	left: 0;
  	margin: 4% 0 0 1%;
}

.ribbon{
	margin-bottom: 3%;
	width: 100%;
	margin-left: -30%;
	min-width: 132px;
}

#header {
	width: 100%;
	position: relative;
	top: 0;
	z-index: 2;
}

#header-container{
	width: 100%;
	overflow: hidden;
	margin: auto;
	padding: 0.5% 0;
}

#logo img{
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;


}

#footer{
	position: fixed;
	bottom: 0; left:0;
	width: 100%;
}


#login-box {
	position: fixed;
  	top: 42%;
  	left: 50%;
  	transform: translate(-50%, -50%);
 	text-align: center;
	
}

#login-box table {
	width: 40%;
	display: table;
  	height: 50%; 
 	text-align: center;
 	margin: auto;
	
}


.login-box-button {
	margin: 2% auto;
	padding: 3% 0;
	width: 60%;
	border: 1px solid #c0c0c0;
    border-radius: 10px;
}

#register-button {
	text-align: center;
	font-size: 80%;
}

.login-box-text {
	width: 80%;
	margin: 2% auto;
	padding: 2% 2%;
	border: 1px solid #c0c0c0;
    border-radius: 10px;
	
}

.msg {
	text-align: center;
	color: #ff0000;
	padding: 2%;
}

#giftlist {
	position: absolute;
	z-index: 2;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
	margin: auto;
	width: 53%;
}

#giftlist-header{
	width: 100%;
	margin: auto;
	
}

#giftlist-body {
	width:100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(241, 220, 170);
}

#giftlist-grid { 
	width: 90%;
	margin: auto auto auto 7%;
}

#giftlist-footer {
	width: 100%;
	margin: auto;
	
}


.giftblock {
	display: inline-block;
	min-width: 64px;
	width: 30%;
	margin:0 2% 2% 0;
}

.gift-tag{
	width: 100%;
	position: relative;

}

.gift-tag img{
	width: 40%;
	position: absolute;
	margin-top: -15%;
	top: 0;
	left: 40%;
	z-index: 3;
	transform: rotate(-20deg);
}

.gift-tag-text {
	width: 25%; 
	overflow:hidden;
	position: absolute; 
	margin-top: 2%; 
	left: 48%; 
	z-index: 4;
	color:black;
	transform: rotate(68deg);
}

.giftblock-body {
	border: 10px solid white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.giftbubble-container {
	position: absolute; 
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 6;
	width:60%;
	margin: 2% auto 2% 28%;
}


.giftbubble {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 3;
	width: 60%;
	margin: 23% auto;
}

.giftblock-header, .giftblock-footer {
	width: 100%;
	overflow: hidden;
	padding: 1.5% 0;
}

.giftblock-footer {
	background: #ebebeb;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.giftimg {
	float:left;
	width:70%;
}

.giftdesc{
	float:right;
	width:30%;
}

.giftname, .giftstore {
	float: left;
}

.giftprice, .buybutton {
	float: right;
}

.buy {
	width: 24px;
	height: 24px;
	float: right; 
	 background:green;
}

.cancel {
	 width:24px; 
	 height:24px; 
	 float: right; 
	 background:blue;
}


.giftstatus-true{
	color: #000000;
}

.giftstatus-false{
	color: #ff0000;
}




